/*Clase 66 & 67: CSS Text Properties*/
h1{
    text-align: center;
    font-weight: normal; /*normal = 400 - bold = 700*/
    text-decoration: underline blue wavy 5px;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: verdana, sans-serif;
}

p{
    text-align: right;
}

a{
    text-decoration: none; /* quita el underline de los links*/
}

p{
    line-height: 2;
}