/*Universal Selector*/
*{
    color:darkblue;
}

body{
    background-color: #f1faee;
}

h1,h2{
    color:#1d3557;
}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

span{
    color:#457b9d;
}

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

.tag{
    background-color: #e63946;
    color:white;
    border-radius: 10px;
    font-size:16px;
    padding:5px;
}

.post a {
    color: #457b9d;
}

footer a {
    color: #e63946;
}